**/Data/*.cch
**/Data/*.k*
**/Data/*.dat
**/Data/DFConnId.ini
**/Data/UpdateDB.log
**/AppSrc/UpdateDB.exe.manifest
**/IdeSrc/*
**/WebApp.dep
**/WebApp.prn
**/WebApp.dbg
**/WebApp.exe
**/WebApp.log
**/*.dep
**/*.prn
**/*.dbg
**/*.exe
**/*.log
**/*.prp
AppSrc/AllDSWebAppClasses.x64.fld
AppSrc/AllDSWebAppClasses.x64.pbg
AppSrc/AllDSWebAppClasses.x64.pdp