USE [master]
GO
/****** Object:  Database [ResourceTracker]    Script Date: 9/1/2023 5:51:57 AM ******/
CREATE DATABASE [ResourceTracker]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ResourceTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ResourceTracker]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/1/2023 5:51:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [smallint] NOT NULL,
	[Company] [nchar](30) NULL,
 CONSTRAINT [PK_CustomerID] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressLog]    Script Date: 9/1/2023 5:51:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressLog](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[PrgType] [int] NULL,
	[TaskID] [int] NULL,
	[Notes] [nvarchar](150) NULL,
	[LogDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ProgressID] PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressType]    Script Date: 9/1/2023 5:51:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressType](
	[PrgTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[AppliesTo] [nchar](10) NOT NULL,
	[Active] [tinyint] NOT NULL,
 CONSTRAINT [PK_PrgTypeID] PRIMARY KEY CLUSTERED 
(
	[PrgTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 9/1/2023 5:51:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[PrjType] [int] NULL,
	[TTCode] [nchar](50) NULL,
	[TTSubcode] [nchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[PrjStatus] [int] NULL,
	[JiraIssueID] [nchar](10) NULL,
	[CustomerID] [smallint] NOT NULL,
 CONSTRAINT [PK_ProjectID] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectAllocation]    Script Date: 9/1/2023 5:51:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAllocation](
	[PrjAllocationID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NULL,
	[ResourceID] [int] NULL,
	[HoursPerWeek] [smallint] NOT NULL,
 CONSTRAINT [PK_PrjAllocationID] PRIMARY KEY CLUSTERED 
(
	[PrjAllocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStatus]    Script Date: 9/1/2023 5:51:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStatus](
	[ProjectStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](15) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Active] [tinyint] NOT NULL,
 CONSTRAINT [PK_ProjectStatusID] PRIMARY KEY CLUSTERED 
(
	[ProjectStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectType]    Script Date: 9/1/2023 5:51:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectType](
	[PrjTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nchar](15) NULL,
	[Description] [nvarchar](50) NULL,
	[Active] [tinyint] NOT NULL,
 CONSTRAINT [PK_ProjectType] PRIMARY KEY CLUSTERED 
(
	[PrjTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resource]    Script Date: 9/1/2023 5:51:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[ResourceID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](20) NULL,
	[LastName] [nchar](40) NULL,
	[Initials] [nchar](6) NULL,
	[TTPersonID] [int] NULL,
 CONSTRAINT [PK_ResourceID] PRIMARY KEY CLUSTERED 
(
	[ResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 9/1/2023 5:51:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[ResourceID] [int] NULL,
	[Summary] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[JiraIssueID] [nchar](10) NULL,
	[DateAssignment] [date] NULL,
	[Estimate] [smallint] NULL,
	[DateStart] [date] NULL,
	[DateEnd] [date] NULL,
	[Actual] [smallint] NULL,
	[TaskStatus] [int] NULL,
 CONSTRAINT [PK_TaskID] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskStatus]    Script Date: 9/1/2023 5:51:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatus](
	[TaskStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](15) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Active] [tinyint] NOT NULL,
 CONSTRAINT [PK_TaskStatusID] PRIMARY KEY CLUSTERED 
(
	[TaskStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CustomerID], [Company]) VALUES (1, N'Data Access North America     ')
INSERT [dbo].[Customer] ([CustomerID], [Company]) VALUES (4, N'Data Access Europe            ')
INSERT [dbo].[Customer] ([CustomerID], [Company]) VALUES (100, N'Data Access Worldwide (shared)')
GO
SET IDENTITY_INSERT [dbo].[ProgressLog] ON 

INSERT [dbo].[ProgressLog] ([ProgressID], [PrgType], [TaskID], [Notes], [LogDate]) VALUES (1, 1, 1, N'Assigning this to Gingy', CAST(N'2023-08-31T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProgressLog] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgressType] ON 

INSERT [dbo].[ProgressType] ([PrgTypeID], [Description], [AppliesTo], [Active]) VALUES (5, N'Created', N'PROJECT   ', 1)
INSERT [dbo].[ProgressType] ([PrgTypeID], [Description], [AppliesTo], [Active]) VALUES (6, N'Finished', N'PROJECT   ', 1)
INSERT [dbo].[ProgressType] ([PrgTypeID], [Description], [AppliesTo], [Active]) VALUES (7, N'Unassigned', N'PROJECT   ', 1)
SET IDENTITY_INSERT [dbo].[ProgressType] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ProjectID], [Name], [PrjType], [TTCode], [TTSubcode], [Description], [PrjStatus], [JiraIssueID], [CustomerID]) VALUES (4, N'Grid Layout', 1, N'DATAFLEX                                          ', N'WEBFRAMEWORK                                      ', N'Alternative layout mode for web components to facilitate dashboard-style projects', 5, N'DF-4000   ', 4)
INSERT [dbo].[Project] ([ProjectID], [Name], [PrjType], [TTCode], [TTSubcode], [Description], [PrjStatus], [JiraIssueID], [CustomerID]) VALUES (5, N'Properties Panel', 1, N'DATAFLEX                                          ', N'STUDIO                                            ', N'Redesign properties panel', 4, N'DF-4411   ', 1)
INSERT [dbo].[Project] ([ProjectID], [Name], [PrjType], [TTCode], [TTSubcode], [Description], [PrjStatus], [JiraIssueID], [CustomerID]) VALUES (6, N'Clean Source', 4, NULL, NULL, N'Clean up source code from unsupported syntax', 6, N'DF-8221   ', 4)
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectStatus] ON 

INSERT [dbo].[ProjectStatus] ([ProjectStatusID], [Code], [Description], [Active]) VALUES (1, N'Future         ', N'For future consideration', 1)
INSERT [dbo].[ProjectStatus] ([ProjectStatusID], [Code], [Description], [Active]) VALUES (2, N'Active         ', N'Currently being considered for development', 1)
INSERT [dbo].[ProjectStatus] ([ProjectStatusID], [Code], [Description], [Active]) VALUES (3, N'Deferred       ', N'Postponed by customer', 1)
SET IDENTITY_INSERT [dbo].[ProjectStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectType] ON 

INSERT [dbo].[ProjectType] ([PrjTypeID], [Type], [Description], [Active]) VALUES (1, N'R&D            ', N'Research and Developement', 1)
INSERT [dbo].[ProjectType] ([PrjTypeID], [Type], [Description], [Active]) VALUES (2, N'Consulting     ', N'Consulting projects for external clients', 1)
INSERT [dbo].[ProjectType] ([PrjTypeID], [Type], [Description], [Active]) VALUES (3, N'Internal       ', N'Internal projects for in-house use', 1)
SET IDENTITY_INSERT [dbo].[ProjectType] OFF
GO
SET IDENTITY_INSERT [dbo].[Resource] ON 

INSERT [dbo].[Resource] ([ResourceID], [Name], [LastName], [Initials], [TTPersonID]) VALUES (1, N'Harm                ', N'Wibier                                  ', N'HW    ', 14)
INSERT [dbo].[Resource] ([ResourceID], [Name], [LastName], [Initials], [TTPersonID]) VALUES (2, N'Bram                ', N'Nijenkamp                               ', N'BN    ', 22)
INSERT [dbo].[Resource] ([ResourceID], [Name], [LastName], [Initials], [TTPersonID]) VALUES (3, N'Martin              ', N'Moleman                                 ', N'MM    ', 20)
SET IDENTITY_INSERT [dbo].[Resource] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([TaskID], [ProjectID], [ResourceID], [Summary], [Description], [JiraIssueID], [DateAssignment], [Estimate], [DateStart], [DateEnd], [Actual], [TaskStatus]) VALUES (1, 4, 5, N'Allow new columns to be inserted', N'Add a new column at the position where cursor is and shift existing right', N'DF-3399   ', NULL, NULL, NULL, NULL, 0, 3)
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskStatus] ON 

INSERT [dbo].[TaskStatus] ([TaskStatusID], [Code], [Description], [Active]) VALUES (1, N'In Progress    ', N'Currently being worked on', 1)
INSERT [dbo].[TaskStatus] ([TaskStatusID], [Code], [Description], [Active]) VALUES (2, N'Assigned       ', N'Recently assigned but no work started yet', 1)
INSERT [dbo].[TaskStatus] ([TaskStatusID], [Code], [Description], [Active]) VALUES (3, N'On Hold        ', N'Work approved but not started', 1)
SET IDENTITY_INSERT [dbo].[TaskStatus] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Active]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Active] ON [dbo].[ProgressType]
(
	[Active] ASC,
	[AppliesTo] ASC,
	[Description] ASC,
	[PrgTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_AppliesTo]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_AppliesTo] ON [dbo].[ProgressType]
(
	[AppliesTo] ASC,
	[Description] ASC,
	[PrgTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Customer]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Customer] ON [dbo].[Project]
(
	[CustomerID] ASC,
	[Name] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_JiraIssueID]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_JiraIssueID] ON [dbo].[Project]
(
	[JiraIssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Name]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Name] ON [dbo].[Project]
(
	[Name] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_PrjType]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_PrjType] ON [dbo].[Project]
(
	[PrjType] ASC,
	[Name] ASC,
	[JiraIssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_TTCode]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_TTCode] ON [dbo].[Project]
(
	[TTCode] ASC,
	[Name] ASC,
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Index_ProjectResource]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_ProjectResource] ON [dbo].[ProjectAllocation]
(
	[ProjectID] ASC,
	[ResourceID] ASC,
	[PrjAllocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Index_ResourceProject]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_ResourceProject] ON [dbo].[ProjectAllocation]
(
	[ResourceID] ASC,
	[ProjectID] ASC,
	[PrjAllocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Active]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Active] ON [dbo].[ProjectStatus]
(
	[Active] ASC,
	[Code] ASC,
	[ProjectStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Code]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Code] ON [dbo].[ProjectStatus]
(
	[Code] ASC,
	[ProjectStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Active]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Active] ON [dbo].[ProjectType]
(
	[Active] ASC,
	[Type] ASC,
	[PrjTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Type]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Type] ON [dbo].[ProjectType]
(
	[Type] ASC,
	[PrjTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_ProjectJiraIssue]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_ProjectJiraIssue] ON [dbo].[Task]
(
	[ProjectID] ASC,
	[JiraIssueID] ASC,
	[ResourceID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_ProjectResource]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_ProjectResource] ON [dbo].[Task]
(
	[ProjectID] ASC,
	[ResourceID] ASC,
	[JiraIssueID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_ProjectTaskStatus]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_ProjectTaskStatus] ON [dbo].[Task]
(
	[ProjectID] ASC,
	[TaskStatus] ASC,
	[JiraIssueID] ASC,
	[ResourceID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Resource]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Resource] ON [dbo].[Task]
(
	[ResourceID] ASC,
	[ProjectID] ASC,
	[JiraIssueID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_TaskStatusProjectJiraIssue]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_TaskStatusProjectJiraIssue] ON [dbo].[Task]
(
	[TaskStatus] ASC,
	[ProjectID] ASC,
	[JiraIssueID] ASC,
	[ResourceID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Index_TaskStatusProjectResource]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_TaskStatusProjectResource] ON [dbo].[Task]
(
	[TaskStatus] ASC,
	[ProjectID] ASC,
	[ResourceID] ASC,
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Active]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Active] ON [dbo].[TaskStatus]
(
	[Active] ASC,
	[Code] ASC,
	[TaskStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Code]    Script Date: 9/1/2023 5:51:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Index_Code] ON [dbo].[TaskStatus]
(
	[Code] ASC,
	[TaskStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProgressType] ADD  DEFAULT ('TASK') FOR [AppliesTo]
GO
ALTER TABLE [dbo].[ProgressType] ADD  CONSTRAINT [DF__ProgressT__Activ__2057CCD0]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Project] ADD  DEFAULT ((0)) FOR [PrjType]
GO
ALTER TABLE [dbo].[Project] ADD  DEFAULT ((0)) FOR [PrjStatus]
GO
ALTER TABLE [dbo].[Project] ADD  DEFAULT ((4)) FOR [CustomerID]
GO
ALTER TABLE [dbo].[ProjectStatus] ADD  CONSTRAINT [DF_ProjectStatus_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ProjectType] ADD  DEFAULT ('') FOR [Type]
GO
ALTER TABLE [dbo].[ProjectType] ADD  CONSTRAINT [DF__ProjectTy__Activ__69FBBC1F]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT ('') FOR [JiraIssueID]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT ((0)) FOR [Actual]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT ((0)) FOR [TaskStatus]
GO
ALTER TABLE [dbo].[TaskStatus] ADD  CONSTRAINT [DF_TaskStatus_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ProgressLog]  WITH CHECK ADD  CONSTRAINT [FK_ProgressLog_ProgressType] FOREIGN KEY([PrgType])
REFERENCES [dbo].[ProgressType] ([PrgTypeID])
GO
ALTER TABLE [dbo].[ProgressLog] CHECK CONSTRAINT [FK_ProgressLog_ProgressType]
GO
ALTER TABLE [dbo].[ProgressLog]  WITH CHECK ADD  CONSTRAINT [FK_ProgressLog_Task] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Task] ([TaskID])
GO
ALTER TABLE [dbo].[ProgressLog] CHECK CONSTRAINT [FK_ProgressLog_Task]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Customer]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_ProjectStatus] FOREIGN KEY([PrjStatus])
REFERENCES [dbo].[ProjectStatus] ([ProjectStatusID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_ProjectStatus]
GO
ALTER TABLE [dbo].[ProjectAllocation]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAllocation_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ProjectID])
GO
ALTER TABLE [dbo].[ProjectAllocation] CHECK CONSTRAINT [FK_ProjectAllocation_Project]
GO
ALTER TABLE [dbo].[ProjectAllocation]  WITH CHECK ADD  CONSTRAINT [FK_ProjectAllocation_Resource] FOREIGN KEY([ResourceID])
REFERENCES [dbo].[Resource] ([ResourceID])
GO
ALTER TABLE [dbo].[ProjectAllocation] CHECK CONSTRAINT [FK_ProjectAllocation_Resource]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_TaskStatus] FOREIGN KEY([TaskStatus])
REFERENCES [dbo].[TaskStatus] ([TaskStatusID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_TaskStatus]
GO
USE [master]
GO
